﻿
@model IList<PaymentImporter.Core.Dto.Transactions.TransactionResponseDto>
@{
    ViewData["Title"] = "Transaction list";
}

<h5>List of all transactions</h5>
<div class="text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Transaction Id
                </th>
                <th scope="col">
                    Amount
                    Amount
                </th>
                <th scope="col">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
