﻿
@{
    ViewData["Title"] = "Upload";
}

<h5>Upload</h5>
<span>Choose csv/xml file to import to DB by using this form</span>
<form method="post" class="input-group" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">    
    <div class="col-md-10 custom-file">
        <input type="file" class="custom-file-input" name="file"
               aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
    <div class="col-md-2">
        <input type="submit" class="btn btn-primary" value="Upload" />
    </div>
</form>
